<div class="wrapper" [ngStyle]="{ background: theme.secColor }">

  <div id="grid" [ngClass]="{ 'inactive' : tilesInactive }" [@fade]="tilesInactive ? 'hidden' : 'shown'">

    <app-tile *ngFor="let lunch of lunches; let i = index;"
              [lunch]="lunch" (click)="openDetails(i)"></app-tile>

  </div>

  <app-details *ngIf="selected != -1" [lunch]="lunches[selected]" (close)="onDetailsClosed()" (refresh)="fetchLunches()" (edit)="openEditLunch($event)" [@slide]></app-details>
  <app-new-lunch *ngIf="newLunchOpened" [lunch]="lunchToEdit" (close)="onNewLunchClosed()" (refresh)="onLunchesModified()" [@slide]></app-new-lunch>

  <div id="newLunchButton" (click)="openNewLunch()" [ngStyle]="{ border : theme.border2px, color : theme.secFontColor, background: theme.secColor }">+</div>

</div>
