@import '../common';

.wrapper {
  width: 100%;
  height: 100%;
  background: $sec-clr;

  padding-top: 50px;
}

#grid {
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($tile-width, 1fr));
  grid-auto-rows: $tile-height + $gap;
  grid-gap: $gap;
  align-items: center;
  justify-items: center;
}
