@import '../common';

.wrapper {
  width: 100%;
  height: 100%;
  background: $def-sec-clr;

  padding-top: 50px;
}

#grid {
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($tile-width, 1fr));
  grid-auto-rows: $tile-height + $gap;
  grid-gap: $gap;
  align-items: center;
  justify-items: center;
}

app-details, app-new-lunch {
  position: absolute;
  top: 0;
  right: -10px;
}

.inactive {
  pointer-events: none;
}

#newLunchButton {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 100px;
  right: 100px;

  font-size: 75px;
  font-weight: 700;
  border-radius: 100%;
  box-shadow: 2px 2px 3px 0 rgba(81, 81, 81, 0.23);
  user-select: none;

  display: grid;
  align-items: center;
  justify-items: center;
}

#newLunchButton:hover {
  cursor: pointer;
}

#newLunchButton:active {
  box-shadow: inset 0.5px 0.5px 5px 2px rgba(77, 77, 77, 0.27);
}
