.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "topbar" "main";
  align-items: stretch;
  justify-items: stretch;
}

.topbar {
  grid-area: topbar;
}

.content {
  grid-area: main;
}
