$topbar-clr: rgba(78, 124, 209, 0.61);
$border-clr: rgba(134, 135, 153, 0.41);
$border-highlight: rgba(138, 160, 188, 0.39);
$main-clr: rgb(99, 111, 209);
$font-clr: rgba(105, 103, 115, 0.91);
$font-face: 'Helvetica';

// Tile colors
$tile-short: rgba(239, 139, 152, 0.65);
$tile-medium: rgba(56, 132, 199, 0.55);
$tile-long: rgba(155, 167, 224, 0.11);
//$tile-long: rgba(84, 214, 49, 0.08);

$basefont-small: 12px;
$basefont-large: 26px;
