.gradle
/build/
/lunchmaster_log/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
lunchmaster_log/
nbbuild/
dist/
out/
nbdist/
.nb-gradle/