<div class="wrapper" [ngStyle]="{ background : theme.mainColor, color : theme.fontColor }">

  <div id="logo" [ngStyle]="{ color : theme.fontColor }">
    <span id="lunchWord">LUNCH</span><span id="masterWord">master</span>
  </div>

  <div class="filler"></div>

  <div class="menuLink" routerLink="/wall" [ngClass]="{'inactive' : !loginService.logged}">wall</div>
  <div class="menuLink" routerLink="/wall" [ngClass]="{'inactive' : !loginService.logged}">billing</div>
  <div class="menuLink" routerLink="/restaurants" [ngClass]="{'inactive' : !loginService.logged}">restaurants</div>
  <div class="menuLink" routerLink="/profile" [ngClass]="{'inactive' : !loginService.logged}">profile</div>

  <div class="filler"></div>

  <div id="userInfo" *ngIf="loginService.logged">
    Hello, {{loginService.user.firstName}}
  </div>

  <div id="substitute" *ngIf="!loginService.logged"></div>

  <div id="themes">

    <div class="theme" *ngFor="let th of themes; let i = index;"
         [ngClass]="{'selected' : theme.current == i}" [ngStyle]="{background : th.mainColor}" (click)="theme.setTheme(i)">
    </div>

  </div>

</div>
