@import '../common';

.wrapper {
  @include size100p;
  @include grid-columns(150px 30px 50px repeat(3, 100px) 1fr 150px 150px 20px);
  align-items: center;
  justify-items: stretch;

  position: sticky;
  box-shadow: 0 4px 8px rgba(60, 60, 60, 0.17);
  font-family: $font;
}

.menuLink {
  @include grid-center;
  user-focus: none;
}

.menuLink:hover {
  cursor: pointer;
}

#themes {
  @include grid-center;
  grid-auto-columns: 25px;
  grid-auto-flow: column;
}

.theme {
  @include size(20px);
  border: solid 1px rgba(138, 138, 138, 0.30);
}

.theme:hover {
  cursor: pointer;
}

.selected {
  border: solid 1px rgba(22, 21, 23, 0.31);
}

#lunchWord {
  font-weight: 800;
}

#lunchWord:hover, #masterWord:hover {
  cursor: default;
}

#logo {
  padding-left: 20px;
  font-family: $font;

  display: inline-block;
  justify-items: center;
}

#userInfo {
  @include grid-center;
  width: 150px;
  font: $font;
}

.inactive {
  opacity: 0.2;
}

.inactive:hover {
  cursor: default;
}
