@import '../common';

.wrapper {
  width: 100%;
  height: 100%;
  background: $def-main-clr;

  box-shadow: 0 4px 8px rgba(60, 60, 60, 0.17);

  display: grid;
  grid-template-columns: 150px 1fr 150px 20px;
  align-items: center;
  justify-items: stretch;
}

#themes {
  grid-column: 3;

  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: 25px;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.theme {
  width: 20px;
  height: 20px;
  border: solid 1px rgba(138, 138, 138, 0.36);
}

.theme:hover {
  cursor: pointer;
}

.selected {
  border: solid rgba(22, 21, 23, 0.61) 2px;
}

#lunchWord {
  font-weight: 800;
}

#logo {
  justify-items: center;
  font-family: $font;

  display: inline-block;
  padding-left: 20px;
}
