<div class="frame" id="frame" [ngStyle]="{
     'border' : theme.border1px,
     'background' : theme.tetrColor,
     'color' : theme.secFontColor
}">

  <div id="close" (click)="clickClose()">&#x25BC;</div>

  <div id="header">{{lunch.restaurant.name}}</div>

  <div id="sortBy">
    <div id="sortLabel">Sort by:</div>
    <div id="sortByName" class="sorting" (click)="setSorting('name')" [ngStyle]="{border : nameBorder}">Name</div>
    <div id="sortByDish" class="sorting" (click)="setSorting('dish')" [ngStyle]="{border : dishBorder}">Dish</div>
  </div>

  <div class="section" *ngFor="let order of lunch.orders">
    <div class="header">{{order.user.firstName + order.user.lastName}}</div>
    <div class="row">
      <div class="positionRight" *ngFor=""></div>
    </div>
  </div>

</div>
