<div class="frame" [ngClass]="theme.typeC">

  <button mat-button id="closeTop" (click)="clickClose()"><span>&#x25BC;</span></button>

  <div id="header">{{lunch.restaurant.name}}</div>

  <div id="sortBy">

    <div id="sortLabel">Sort by:</div>

    <button mat-button id="sortByName" class="sorting"
      [ngClass]="[borders.name ? theme.typeA : '']"
      (click)="setSorting('name')">Name
    </button>

    <button mat-button id="sortByDish" class="sorting"
      [ngClass]="[borders.dish ? theme.typeA : '']"
      (click)="setSorting('dish')">Dish
    </button>

  </div>

  <div id="list">

    <div class="section" *ngFor="let section of sections">

      <div class="header">
        <div class="positionLeft">{{section.header.textLeft}}</div>
        <div class="positionRight">{{section.header.textRight}}</div>
      </div>

      <div class="row" *ngFor="let item of section.items">
        <div class="positionLeft">{{item.textLeft}}</div>
        <div class="positionRight">{{item.textRight}}</div>
      </div>

    </div>
  </div>

</div>
