@import '../../common';

.frame {
  @include grid-center(20px 50px 30px 1fr, null, 10px);
  @include mdc-elevation(10);
  justify-items: center;

  width: 360px;
  position: relative;

  padding-bottom: 70px;
  border-radius: $border-rad;
  font-family: $font;
  font-size: 20px;
  overflow: hidden;
}

#closeTop {
  @include size(100%, 25px);
  font-size: 14px;
  text-align: center;

  span {
    position: relative;
    top: -5px;
  }
}

#header {
  font-size: 25px;
  text-align: center;
}

#sortBy {
  @include grid-stretch(null, repeat(3, 1fr), 10px);
  width: 70%;
}

#sortLabel {
  @include self-center;
}

.sorting {
  @include grid-center;
  @include mdc-elevation(4);
  border-radius: $border-rad;
}

#list {
  width: 70%;
}

.section {
  @include grid-stretch(30px, null, 5px);
  grid-auto-rows: 20px;
  width: 100%;
  margin-top: 20px;
}

.positionLeft {
  float: left;
}

.positionRight {
  float: right;
}

.row {
  font-size: 17px;
}
