@import '../../variables';

.wrapper {
  width : 100%;
  height: 65%;

  display: grid;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-areas: "margin-left main margin-right";
}

.mainColumn {
  grid-area: main;

  font-size: $basefont-small;

  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50px 30px 20px;
  grid-auto-rows: 40px;
  grid-row-gap: 5px;
}

.lunchmasterBox {
  grid-column: 1;
  grid-row: 1;

  display: grid;
  grid-template-rows: 50% 1fr;
  align-items: center;
}

.lunchmasterInfo {
  grid-column: span 2;

  align-self: center;
  transform: translate(0, 10px);
}

.name {
  font-size: $basefont-large;
}

.hoursBox {

  grid-column: 2;
  grid-row: 1;

  display: grid;
  grid-template-rows: 50% 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.hoursLabel {
  text-align: center;
}

.hours {
  font-size: $basefont-large;
  align-self: baseline;
}

.listPosition {
  grid-column: span 2;

  border: solid 1px $border-clr;
  border-radius: 2px;

  margin: 0 25px;
  padding-left: 15px;
  font-size: 105%;

  display: grid;
  align-items: center;
}

.listPosition:hover {
  cursor: pointer;
  background-color: $topbar-clr;
}

@media screen and (max-width: 600px), screen and (max-width: 6cm) {
  .mainColumn {
    font-size: $basefont-small / 1.8;
  }

  .hours, .name {
    font-size: $basefont-large / 2.2;
  }
}

@media screen and (max-width: 1300px), screen and (max-width: 20cm) {
  .mainColumn {
    font-size: $basefont-small / 1.2;
  }

  .hours, .name {
    font-size: $basefont-large / 1.2;
  }
}
