<div class="frame" [ngStyle]="{ border : theme.border1px, background : theme.tetrColor, color : theme.secFontColor }">

  <div class="filler"></div>
  <div class="title">NEW RESTAURANT</div>
  <div class="filler"></div>

  <div class="row">

    <span class="left">Name</span>

    <input class="right" type="text"
           [ngStyle]="{ border : 'solid 1px ' + theme.highlightColor, color : theme.secFontColor }" [(ngModel)]="restaurant.name" />

  </div>

  <div class="row">

    <span class="left">Description</span>

    <input class="right" type="text"
           [ngStyle]="{ border : 'solid 1px ' + theme.highlightColor, color : theme.secFontColor }" [(ngModel)]="restaurant.description" />

  </div>

  <div class="row">

    <span class="left">Phone</span>

    <input class="right" type="text"
           [ngStyle]="{ border : 'solid 1px ' + theme.highlightColor, color : theme.secFontColor }" [(ngModel)]="restaurant.phone" />

  </div>

  <div class="row">

    <span class="left">Address</span>

    <input class="right" type="text"
           [ngStyle]="{ border : 'solid 1px ' + theme.highlightColor, color : theme.secFontColor }" [(ngModel)]="restaurant.address" />

  </div>

  <div class="row">

    <span class="left">Avg. delivery</span>

    <input class="right" type="text" placeholder="min"
           [ngStyle]="{ border : 'solid 1px ' + theme.highlightColor, color : theme.secFontColor }" [(ngModel)]="restaurant.avgDeliveryTime" />

  </div>

  <div class="row">

    <span class="left">Link</span>

    <input class="right" type="text"
           [ngStyle]="{ border : 'solid 1px ' + theme.highlightColor, color : theme.secFontColor }" [(ngModel)]="restaurant.link" />

  </div>

  <div class="row">

    <span class="left">Logo link</span>

    <input class="right" type="text"
           [ngStyle]="{ border : 'solid 1px ' + theme.highlightColor, color : theme.secFontColor }" [(ngModel)]="restaurant.logo" />

  </div>

  <div class="createLunch" [ngStyle]="{ border : theme.border1px }" (click)="submit()">PYSZNE.PL IMPORT</div>
  <div class="createLunch" [ngStyle]="{ border : theme.border1px }" (click)="submit()" >ADD RESTAURANT</div>


  <div style="height: 5px"></div>

  <div id="close" [ngStyle]="{ border: theme.border1px, borderTop : 'none'}" (click)="clickClose()" >&#x25B2;</div>

</div>
