@import "../common";

$input-height: 35px;
$row-width: 85%;

.wrapper {
  @include size100p;
}

#box {
  $box-width: 400px;
  @include size($box-width, $box-width * 1.95);
  @include absolute-center;
  @include grid-center(5px 60px, 1fr, 10px);
  font-family: $font;
  grid-auto-rows: 50px;
  border-radius: 5px;
}



#header {
  width: $row-width;
  font-size: 25px;
  text-align: left;
}

.row {
  width: $row-width;

  label {
    font-size: 14px;
  }

  input {
    @include size(100%, $input-height);
    background: transparent;
    border-radius: 3px;
    font-size: 110%;
    padding-left: 10px;
    box-sizing: border-box;
  }
}

.lastRow {
  @include size($row-width, $input-height);
  line-height: $input-height;
  text-align: center;
  border-radius: 3px;
  transform: translateY(15px);
}

.lastRow:hover {
  background: $hover-clr;
  cursor: pointer;
}
