<div class="wrapper" [ngClass]="theme.typeB">

  <div id="back" [ngClass]="theme.typeC">
    <div id="loginBox">

      <input id="username" class="round" placeholder="username"
             [ngClass]="[invalidCredentials ? 'invalid' : '', theme.input]"
             [(ngModel)]="mail"
             (keyup.enter)="login()"/>

      <input id="password" class="round" placeholder="password"
             [ngClass]="[invalidCredentials ? 'invalid' : '', theme.input]"
             [(ngModel)]="password"
             (keyup.enter)="login()"/>

      <div id="buttons">

        <button id="login" mat-button
                (click)="login()">login
        </button>

        <button id="register" mat-button (click)="register()">register</button>

      </div>

    </div>
  </div>
</div>
