@import '../common';

$input-height: 45px;

.wrapper {
  @include size100p;
  font-family: $font;
}

#loginBox {
  @include size(380px);
  @include absolute-center;
}

#username, #password, #buttons {
  @include size(100%, $input-height);
  margin-top: 10px;
  box-sizing: border-box;
  background: transparent;
}

#username, #password {
  padding-left: 15px;
  font-size: 16px;
  text-align: center;
}

#buttons {

  div {
    @include size(48%, $input-height);
    @include grid-center;
  }

  div:hover {
    cursor: pointer;
    background: $hover-clr;
  }
}

#login {
  float : left;
}

#register {
  float: right;
}

.round {
  border-radius: 3px;
}

.invalid {
  box-shadow: 0 0 5px 1px rgba(255, 15, 44, 0.28);
}


