@import '../common';

$input-height: 45px;

.wrapper {
  @include size100p;
  font-family: $font;
}

#loginBox {
  @include size(380px, 100%);
  @include grid-center;
}

#back {
  @include size(460px, 240px);
  @include absolute-center;
  @include grid-center;
  @include mdc-elevation(8);
  border-radius: $border-rad;
}

#username, #password, #buttons {
  @include size(100%, $input-height);
  margin-top: 5px;
  box-sizing: border-box;
  background: transparent;
}


#buttons {
  margin-top: 10px;
}

#username, #password {
  font-size: 16px;
  text-align: center;
  width: 320px;
}

#username {
  margin-top: 20px;
}

#buttons {

  button {
    @include size(48%, $input-height);
    @include grid-center;
    font-size: 16px;
  }
}

#login {
  float : left;
}

#register {
  float: right;
}

.round {
  border-radius: $border-rad;
}

.invalid {
  border-bottom: 1px solid rgba(255, 15, 44, 0.28);
}


