<div class="wrapper" [ngStyle]="{ background: theme.secColor }">

  <div id="loginBox">

    <input id="username" class="round" placeholder="username"
           [ngClass]="{ 'invalid' : invalidCredentials }" [ngStyle]="{ border : theme.border1px, color : theme.secFontColor}"
           [(ngModel)]="mail"  (keyup.enter)="login()">

    <input id="password" class="round" placeholder="password"
           [ngClass]="{ 'invalid' : invalidCredentials }" [ngStyle]="{ border : theme.border1px, color : theme.secFontColor }"
           [(ngModel)]="password" (keyup.enter)="login()">

    <div id="buttons">

      <div id="login" class="round" [ngStyle]="{ border : theme.border1px, color : theme.secFontColor }" (click)="login()">login</div>
      <div id="register" class="round" [ngStyle]="{ border : theme.border1px, color : theme.secFontColor }">register</div>

    </div>

  </div>

</div>
