@import "../../../common";

#dishList {
  @include grid-pos(1, 1);

  width: 80%;
  margin-top: 20px;
  transform: translateY(90px);

  display: grid;
  grid-auto-rows: 20px;
  grid-row-gap: 8px;

}

.orderPosition {
  width: 100%;
}

.orderPosition:hover {
  cursor: pointer;
}

.dishName {
  float: left;
}

.dishPrice {
  float: right;
}

#lastRow {
  width: 100%;
  grid-row: span 6;
  position: relative;
  margin-top: 20px;
}

#total {
  @include size(100%, 20px);
  font-weight: 700;
}

#placeOrder {
  @include size(100%, 30px);
  @include absolute(null, 0, 65px, null);
  @include grid-center;

  margin-top: 15px;
  border-radius: 3px;
}

#placeOrder:hover {
  cursor: pointer;
  background-color: $hover-clr;
}
