@import "../../../common";

#info {
  $side-column: 23%;
  @include size(90%, 100%);
  @include grid-stretch(null, $side-column 1fr $side-column);

  margin: auto;
  transform: translate(3%, 0);
  font-size: 15px;

  br {
    line-height: 150%;
  }
}

#delivery {
  @include grid-stretch(20px 1fr 20px 1fr, 1fr);
  align-items: center;
  text-align: left;
}

#restaurant {
  padding-right: 30px;
  text-align: right;
}

#lunchmaster, .labels, .hours {
  padding-left: 30px;
  text-align: left;
}

.labels {
  font-size: 15px;
}

.hours {
  font-size: 22px;
}

.infoDetails {
  margin-top: 10px;
  font-size: 15px;
}

.infoHeader {
  font-size: 20px;
}
