@import "../../../common";

#orders {
  @include grid-columns(60% 35%);
  justify-items: center;

  width: 100%;
  margin: 20px auto;
}

#participants, #addOrder {
  @include grid-stretch;
  grid-auto-rows: 40px;
  grid-row-gap: 10px;
  width: 100%;
}

#addOrder {
  @include grid-pos(1, 1);
  width: 80%;
}

#participants {
  grid-column: 2;
}

#addOrderHeader, #participantsHeader {
  @include self-center;
}

#addOrderHeader {
  transform: translateX(-20px);
}

#addDish {

  input {
    @include size(80%, 100%);
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
    background: transparent;
    font-size: 17px;
  }

  button {
    @include size(45px, 100%);
    @include grid-center;
    @include mdc-elevation(4);
    align-self: end;
    float: right;
    box-sizing: border-box;
    border-radius: $border-rad;
    font-size: 26px;
  }
}

.order {
  @include size100p;
  @include grid-center;
  @include mdc-elevation(4);
  border-radius: $border-rad;
}

.order:hover {
  cursor: default;
}

#orderDetails {
  @include absolute(0, null, null, 0);
  @include  mdc-elevation(8);

  width: 250px;
  padding: 10px;
  border-radius: $border-rad;
  font-family: $font;

  display: grid;
  grid-auto-rows: 20px;
  z-index: 3;
}

#orderDetailTotal {
  margin-top: 5px;
}
