@import "../../../common";

// Covers order list and new order form

#orders {
  width: 100%;
  margin: 20px auto;

  display: grid;
  grid-template-columns: 60% 35%;
  justify-items: center;
}

#participants, #addOrder {
  width: 100%;

  display: grid;
  grid-auto-rows: 40px;
  grid-row-gap: 10px;
  align-items: stretch;
  justify-items: stretch;
}

#addOrder {
  width: 80%;

  grid-row: 1;
  grid-column: 1;
}

#participants {
  grid-column: 2;
}

#addOrderHeader, #participantsHeader {
  align-self: center;
  justify-self: center;
}

#addDish {

  input {
    width: 84%;
    height: 100%;
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
    background: transparent;
    border-radius: 3px;
    font-size: 17px;
  }

  div {
    width: 13%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 30px;
    font-weight: 600;

    display: grid;
    align-items: center;
    justify-items: center;
  }

  div:hover {
    cursor: pointer;
    background-color: $hover-clr;
  }
}

.order {
  width: 100%;
  height: 100%;
  border-radius: 3px;

  display: grid;
  align-items: center;
  justify-items: center;
}

.order:hover {
  cursor: default;
  background-color: $hover-clr;
}

#orderDetails {
  width: 200px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 3px;
  font-family: $font;

  display: grid;
  grid-auto-rows: 20px;
  z-index: 3;
}

#orderDetailTotal {
  margin-top: 5px;
}
