@import '../../variables';

$radius: 4px;

.tile {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: transparent;

  border-radius: $radius;

  font-family: $font-face;
  color: $font-clr;
  font-size: 17px;

  display: grid;
  grid-template-rows: 40px 1fr;
  align-items: stretch;
  justify-items: stretch;
}

.tile:not(.clicked):hover {
  cursor: pointer;
  border-color: $border-highlight;
}

.clicked {
  z-index: 1;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-weight: 700;
  color: white;
}

.close:hover {
  cursor: pointer;
}

.content {
  grid-row: 2;
  height: 160px;
  background-color: white;
  border: solid 1px $border-clr;
  border-radius: 0 0 $radius $radius;
  overflow: hidden;
}

.restaurant {
  grid-row: 1;

  padding: 10px 0;

  background: $main-clr;
  color: white;

  border: solid 1px $main-clr;
  border-radius: $radius $radius 0 0;

  font-weight: 600;
  text-align: center;
}

.image {
  height: 35%;
  align-self: center;
  display: grid;
  padding-top: 10px;
}

img {
  margin: auto;
  height: 90%;
  width: 60%;
}

.lunchmaster {
  margin-top: 5px;
  height: 45px;
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
}

.deadline {
  float: left;
  margin-left: 15px;
  text-align: center;
}

.expected {
  float: right;
  margin-right: 15px;
  text-align: center;
}

.label {
  font-size: 10px;
}

.hours {
  font-size: 20px;
}

.noClick {
  pointer-events: none;
}

.shadow {
  box-shadow: 2px 2px 3px 1px rgba(114, 114, 114, 0.12);
}

