<div class="tile" [ngClass]="{'clicked' : clicked, 'noClick' : !clickable, 'shadow' : showShadow}" #tile>

  <div class="close" *ngIf="expanded" (click)="close()">X</div>
  <div class="restaurant">{{lunch.restaurant.name}}</div>

  <div class="content" #frame>

    <div class="image" #image>
      <img src="{{lunch.restaurant.logo}}"/>
    </div>

    <div *ngIf="!expanded" #collapsedContent class="inner">
      <div class="lunchmaster">{{lunch.lunchMaster.firstName}} {{lunch.lunchMaster.lastName}}</div>

      <div class="deadline">
        <div class="label">Deadline:</div>
        <div class="hours">{{lunch.deadline | date:'HH:mm'}}</div>
      </div>

      <div class="expected">
        <div class="label">Expected:</div>
        <div class="hours">{{lunch.deadline | addMinutes: lunch.expectedDelivery | date:'HH:mm'}}</div>
      </div>
    </div>

    <expanded-tile class="expandedContent" *ngIf="expanded" [lunch]="lunch" #expandedContent></expanded-tile>
  </div>
</div>
