@import "../../common", "styles/info", "styles/middle-row", "styles/dish-list";

#frame {
  @include grid-rows(60px 100px 1fr 50px, 10px);
  @include mdc-elevation(10);

  width: 700px;
  position: relative;
  margin: auto;
  padding-bottom: 15px;

  border-radius: 3px;
  font-family: $font;
  font-size: 20px;
  overflow: hidden;
}

.pointer:hover {
  cursor: pointer;
}

#lunchmasterButtons {
  @include grid-stretch(null, repeat(4, 78px), 8px);

  width: 89%;
  margin: 10px auto;
}

.lunchmasterButton {
  @include size(100%, 30px);
  @include grid-center;

  border-radius: 3px;
  font: $font;
  font-size: 15px;
  text-align: center;
  z-index: 2;
}

.lunchmasterButton:hover {
  cursor: pointer;
  background: $hover-clr;
}

#close {
  @include size(105%, 20px);
  @include absolute(null, 0, -13px, -10px);

  margin: 10px auto;
  border-top: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
}

#close:hover {
  cursor: pointer;
  background-color: $hover-clr;
}


