<div class="frame" id="frame" [ngStyle]="{
     'border' : theme.border1px,
     'background' : theme.tetrColor,
     'color' : theme.secFontColor
}">

  <div class="filler" *ngIf="!userIsLunchmaster()"></div>

  <div id="icons" *ngIf="userIsLunchmaster()">

    <div id="list" title="Shows list of all orders from this lunch" (click)="showList()" [ngStyle]="{border : theme.border1px, color : theme.secFontColor}">LIST</div>
    <div id="delete" title="Delete lunch" (click)="deleteLunch()" [ngStyle]="{border : theme.border1px, color : theme.secFontColor}">DEL</div>
    <div id="edit" title="Edit lunch" (click)="editLunch()" [ngStyle]="{border : theme.border1px, color : theme.secFontColor}">EDIT</div>
  </div>

  <div id="info" [ngStyle]="{ color : theme.secFontColor }">

    <div id="restaurant" class="verticalSection" [ngStyle]="{ 'border-right' : theme.border1px }">

      <div id="restaurantName" class="infoHeader">{{lunch.restaurant.name}}</div>

      <div id="restaurantDetails" class="infoDetails">

        tel:&nbsp; {{lunch.restaurant.phone}}<br>
        avg:&nbsp; {{lunch.restaurant.avgDeliveryTime}} min<br>

        <a target="_blank" [href]="'http://' + lunch.restaurant.link" [ngStyle]="{color : theme.secFontColor}">
          website
        </a>

      </div>

    </div>

    <div id="lunchmaster" class="verticalSection" [ngStyle]="{ 'border-right' : theme.border1px }">

      <div id="lunchmasterName" class="infoHeader">{{lunch.lunchMaster.firstName}} {{lunch.lunchMaster.lastName}}</div>

      <div id="lunchmasterDetails" class="infoDetails">
        {{lunch.lunchMaster.part}}, {{lunch.lunchMaster.group}}, {{lunch.lunchMaster.floor}} floor<br>
        bank:&nbsp; {{lunch.lunchMaster.bankAccount}}<br>
        tel:&nbsp; {{lunch.lunchMaster.mobile}}
      </div>

    </div>

    <div id="delivery" class="verticalSection">
      <div id="deadlineLabel" class="labels">Deadline</div>
      <div id="deadlineHours" class="hours">{{lunch.deadline | date: 'HH:mm'}}</div>
      <div id="expectedLabel" class="labels">Expected</div>
      <div id="expectedHours" class="hours">{{lunch.expectedDelivery | date: 'HH:mm'}}</div>
    </div>

  </div>

  <div id="orders" [ngStyle]="{color : theme.secFontColor}">

    <div id="participants">

      <div class="header">Participants</div>

      <div class="order" *ngFor="let order of lunch.orders; let i = index;" [id]="'order' + i" [ngStyle]="{ border : theme.border1px }"
           (mouseover)="showOrderDetails(i)" (mouseleave)="hideOrderDetails()" (click)="deleteOrder(i)" [ngClass]="{'pointer' : orderBelongsToUser(i)}">

        {{order.user.firstName}} {{order.user.lastName}}
      </div>

    </div>

    <div id="join">

      <div class="orderHeader">Order</div>

      <div id="addDish">

        <input type="text" list="dishes" [(ngModel)]="orderInput" (keyup.enter)="addDish()"
               [ngStyle]="{ border : 'solid 1px ' + theme.highlightColor, color : theme.secFontColor }"/>

        <datalist id="dishes">
          <option *ngFor="let dish of lunch.restaurant.dishes" [value]="dish.name">{{dish.name}}</option>
        </datalist>

        <div id="addButton" (click)="addDish()" [ngStyle]="{ border : theme.border1px }">+</div>

      </div>

    </div>

    <div id="dishList">

      <div class="orderPosition" *ngFor="let dish of dishList; let i = index;" (click)="removeDish(i)">
        <span class="dishName">{{dish.name}}</span>
        <span class="dishPrice">{{dish.price}}</span>
      </div>

      <div id="lastRow" *ngIf="dishList.length != 0">

        <div id="total">
          <span class="dishName">Total</span>
          <span class="dishPrice">{{total()}}</span>
        </div>

        <div id="placeOrder" (click)="placeOrder()" [ngStyle]="{ border : theme.border1px }">ORDER</div>

      </div>

    </div>
  </div>

  <div style="height: 5px"></div>

  <div id="close" (click)="clickClose()" [ngStyle]="{ border: theme.border1px, borderTop : 'none'}">&#x25B2;</div>

</div>

<div id="orderDetails" *ngIf="orderDetailsIndex != -1" #orderDetails
     [ngStyle]="{ background : theme.tetrColor, border : theme.border1px, color : theme.secFontColor }">

  <div *ngFor="let dish of activeOrder().dishes">
    <span class="dishName">{{dish.name}}</span>
    <span class="dishPrice">{{dish.price}}</span>
  </div>

  <div id="orderDetailTotal">
    <span class="dishName">Total</span>
    <span class="dishPrice">{{orderDetailsTotal()}}</span>
  </div>

</div>
