<div id="frame" [ngClass]="theme.typeC">

  <div class="filler"></div>

  <div id="info" [ngClass]="theme.fontB">

    <div id="restaurant" class="verticalSection" [ngClass]="theme.borderRightB">

      <div id="restaurantName" class="infoHeader">{{lunch.restaurant.name}}</div>

      <div id="restaurantDetails" class="infoDetails">

        tel:&nbsp; {{lunch.restaurant.phone}}<br>
        avg:&nbsp; {{lunch.restaurant.avgDeliveryTime}} min<br>

        <a target="_blank"
           [ngClass]="theme.input"
           [href]="'http://' + lunch.restaurant.link">website
        </a>

      </div>

    </div>

    <div id="lunchmaster" class="verticalSection" [ngClass]="theme.borderRightB">

      <div id="lunchmasterName" class="infoHeader">
        {{lunch.lunchMaster.firstName}} {{lunch.lunchMaster.lastName}}
      </div>

      <div id="lunchmasterDetails" class="infoDetails">
        {{lunch.lunchMaster.part}}, {{lunch.lunchMaster.group}}, {{lunch.lunchMaster.floor}} floor<br>
        bank:&nbsp; {{lunch.lunchMaster.bankAccount}}<br>
        tel:&nbsp; {{lunch.lunchMaster.mobile}}
      </div>

    </div>

    <div id="delivery" class="verticalSection">

      <div id="deadlineLabel" class="labels">Deadline</div>
      <div id="deadlineHours" class="hours">
        {{lunch.deadline | date: 'HH:mm'}}
      </div>

      <div id="expectedLabel" class="labels">Expected</div>
      <div id="expectedHours" class="hours">
        {{lunch.deadline + lunch.expectedDelivery * 60000 | date: 'HH:mm'}}
      </div>
    </div>

  </div>

  <div id="orders" [ngClass]="theme.fontB">

    <div id="addOrder">

      <div id="addOrderHeader">Order</div>

      <div id="addDish">

        <input type="text" list="dishes"
          [ngClass]="[theme.input]"
          [(ngModel)]="orderInput"
          (keyup.enter)="addDish()"/>

        <datalist id="dishes">
          <option *ngFor="let dish of lunch.restaurant.dishes" [value]="dish.name">{{dish.name}}</option>
        </datalist>

        <button mat-button id="addOrderButton" (click)="addDish()">+</button>

      </div>

    </div>

    <div id="participants">

      <div id="participantsHeader">Participants</div>

      <div class="order"
        *ngFor="let order of lunch.orders; let i = index;"
        [id]="'order' + i"
        [ngClass]="[orderBelongsToUser(i) ? 'pointer' : '', theme.typeA]"
        (mouseover)="showOrderDetails(i)"
        (mouseleave)="hideOrderDetails()"
        (click)="deleteOrder(i)" >{{order.user.firstName}} {{order.user.lastName}}
      </div>

    </div>

    <div id="dishList">

      <div class="orderPosition" *ngFor="let dish of dishList; let i = index;" (click)="removeDish(i)">
        <span class="dishName">{{dish.name}}</span>
        <span class="dishPrice">{{dish.price}}</span>
      </div>

      <div id="lastRow" *ngIf="dishList.length != 0">

        <div id="total">
          <span class="dishName">Total</span>
          <span class="dishPrice">{{total()}}</span>
        </div>

        <button mat-button id="placeOrder" [ngClass]="theme.typeA" (click)="placeOrder()" >ORDER</button>

      </div>

    </div>
  </div>

  <div id="lunchmasterButtons" *ngIf="userIsLunchmaster()">

    <button mat-button id="list" class="lunchmasterButton" title="Shows list of all orders from this lunch" (click)="showList()">LIST</button>
    <button mat-button  id="delete" class="lunchmasterButton" title="Delete lunch" (click)="deleteLunch()" >DELETE</button>
    <button mat-button  id="edit" class="lunchmasterButton" title="Edit lunch" (click)="editLunch()" >EDIT</button>
    <button mat-button  id="closeLunch" class="lunchmasterButton" title="Close lunch">CLOSE</button>

  </div>

  <div style="height: 10px"></div>

  <button mat-button id="close" (click)="clickClose()" ><span>&#x25B2;</span></button>

</div>

<div id="orderDetails" *ngIf="orderDetailsIndex != -1"
     [ngClass]="[theme.typeA]" #orderDetails>

  <div *ngFor="let dish of activeOrder().dishes">
    <span class="dishName">{{dish.name}}</span>
    <span class="dishPrice">{{dish.price}}</span>
  </div>

  <div id="orderDetailTotal">
    <span class="dishName">Total</span>
    <span class="dishPrice">{{orderDetailsTotal()}}</span>
  </div>

</div>
