@import "common";

.wrapper {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  background-size: cover;

  @include grid-rows(40px 1fr);
}

app-topbar {
  z-index: 4;
}
