$def-main-clr: rgba(221, 174, 230, 0.97);
$def-sec-clr: rgba(88, 113, 238, 0.95);
$highlight-clr: yellow;
$accent-clr: blue;
$def-font-clr: rgba(43, 43, 43, 0.81);

$tile-width: 400px;
$tile-height: 120px;
$gap: 10px;

$font: 'Lato';
@import url('https://fonts.googleapis.com/css?family=Lato');

$clr: rgba(231, 227, 233, 0.88);

