@import 'theme/themes';
@import 'mixins';

$hover-clr: rgba(224, 224, 224, 0.1);
$border-rad: 2px;

$tile-width: 400px;
$tile-height: 120px;
$gap: 10px;

$font: 'Lato';
@import url('https://fonts.googleapis.com/css?family=Lato');

.grid {
  @include grid-center(null, repeat(auto-fill, minmax($tile-width, 1fr)), $gap);
  grid-auto-rows: $tile-height + $gap;
  margin: auto;
}

.slide-topright {
  @include absolute(0, -10px, null, null);
  @include mdc-elevation(10);
  z-index: 2;
}

.newElementButton {
  @include size(100px);
  @include absolute(null, 5vw, 7vh, null);
  @include mdc-elevation(4);
  @include grid-center;

  font-size: 70px;
  border-radius: 100%;
  user-select: none;
}

.newElementButton:active {
  transform: scale(0.97);
}

.left {
  float: left;
  transform: translateY(8px);
}

.right {
  float: right;
}

.tile {
  @include size($tile-width, $tile-height);
  @include grid-center(null, 5px 30% 1fr);
  @include mdc-elevation(4);

  position: relative;
  border-radius: $border-rad;
  font-family: $font;
  box-sizing: border-box;

  img {
    @include size($tile-height - 20px);
    @include self-center;
  }

  #details {
    @include self-stretch;
    padding: 5px;
  }

  #restaurant {
    margin: auto;
    padding: 10px;
    font-size: 21px;
    font-weight: 600;
  }

  .element {
    width: 90%;
  }
}

.tile:hover , .newElementButton:hover {
  cursor: pointer;
  @include mdc-elevation(8);
  transform: scale(1.012) translateZ(0);
}

.tile:active, .newElementButton:active {
  @include mdc-elevation(2);
  transform: scale(1);
}

.inactive {
  pointer-events: none;
}

#close {
  @include size(105%, 25px);
  @include absolute(null, 0, 0px, -10px);

  margin: 10px auto 0;
  font-size: 14px;
  text-align: center;

  span {
    position: relative;
    top: -5px;
  }
}

