@import '../common';

.wrapper {
  width: 100%;
  height: 100%;

  padding-top: 50px;
}

#grid {
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($tile-width, 1fr));
  grid-auto-rows: $tile-height + $gap;
  grid-gap: $gap;
  align-items: center;
  justify-items: center;
}

app-restaurant-details, app-edit-restaurant {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 2;
}

.inactive {
  pointer-events: none;
}

#newLunchButton {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 5vh;
  right: 5vw;

  font-size: 65px;
  border-radius: 100%;
  user-select: none;

  display: grid;
  align-items: center;
  justify-items: center;
}

#newLunchButton:hover {
  cursor: pointer;
}

#newLunchButton:active {
  box-shadow: inset 0.5px 0.5px 5px 2px rgba(77, 77, 77, 0.27);
}
