<div class="tile" [ngStyle]="{ color : theme.fontColor }"
     (mouseover)="mouseOver()" (mouseout)="mouseLeave()" (mousedown)="mouseDown()" (mouseup)="mouseUp()" #tile>

  <div class="filler"></div>

  <img [src]="lunch.restaurant.logo"/>

  <div id="details">

    <div id="restaurant">{{lunch.restaurant.name}}</div>
    <div id="lunchmaster">{{lunch.lunchMaster.firstName}} {{lunch.lunchMaster.lastName}}</div>

    <div id="hours">
      <div class="hourLabel" id="deadlineLabel">DL</div>
      <div class="hour" id="deadlineHour">{{lunch.deadline | date:'HH:mm' }}</div>
      <div class="hourLabel" id="expectedLable">EX</div>
      <div class="hour" id="expectedHour">{{lunch.deadline + lunch.expectedDelivery * 60000 | date:'HH:mm' }}</div>
    </div>

  </div>

  <div id="participants">
    <img src="/assets/person_icon.png">
    <span>{{lunch.orders.length}}</span>
  </div>

</div>

