@import '../../common';

#lunchmaster {
  margin: auto;
  padding: 0 10px;
  font-size: 19px;
}

#hours {
  @include grid-center(null, repeat(4, 1fr));
  justify-items: left;

  margin: auto;
  padding: 10px;
  font-size: 16px;
}

.hour {
  justify-self: left;
  transform: translateX(-30px);
  font-size: 21px;
}

#participants {
  @include size(40px, 20px);
  @include absolute(13px, 25px, null, null);

  font-size: 25px;

  img {
    @include size(15px, 22px);
    opacity: 0.6;
  }
}

