<div class="tile" [ngClass]="theme.font" #tile>

  <div class="filler"></div>

  <img [src]="lunch.restaurant.logo"/>

  <div id="details">

    <div id="restaurant" class="element">{{lunch.restaurant.name}}</div>
    <div id="lunchmaster" class="element">{{lunch.lunchMaster.firstName}} {{lunch.lunchMaster.lastName}}</div>

    <div id="hours" class="element">

      <div class="hourLabel" id="deadlineLabel">DL</div>
      <div class="hour" id="deadlineHour">
        {{lunch.deadline | date:'HH:mm' }}
      </div>

      <div class="hourLabel" id="expectedLable">EX</div>
      <div class="hour" id="expectedHour">
        {{lunch.deadline + lunch.expectedDelivery * 60000 | date:'HH:mm' }}
      </div>

    </div>

  </div>

  <div id="participants">
    <img src="/assets/person_icon.png">
    <span>{{lunch.orders.length}}</span>
  </div>

</div>

