/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

input::placeholder {
  color: rgba(203, 203, 203, 0.78);
}

:focus {
  outline:none;
}

button {
  min-height: 1px !important;
  min-width: 1px !important;
}
