<div id="frame" [ngStyle]="{ border : theme.border1px, background : theme.tetrColor, color : theme.secFontColor }">

  <div class="filler"></div>

  <div id="info">

    <div id="name">{{restaurant.name}}</div>

    <div id="restaurantDetails">
      <div id="address" class="detail">{{restaurant.address}}</div>
      <div id="phone" class="detail">tel. {{restaurant.phone}}</div>
      <div id="link" class="detail"><a [ngStyle]="{color : theme.secFontColor}"  [href]="restaurant.link">website</a></div>
    </div>

    <div id="avgTime">
      <div id="avgLabel">Avg. delivery: </div>
      <div id="avgValue">{{restaurant.avgDeliveryTime}} min</div>
    </div>

  </div>

  <div id="menu">

    <div id="topRow">

      <div id="menuLabel">Menu</div>

      <div id="addDish">

        <input type="text" placeholder="New dish"
               [ngStyle]="{ border : 'solid 1px ' + theme.highlightColor, color : theme.secFontColor }" [(ngModel)]="dishInput"/>

        <input type="text" placeholder="PLN"
               [ngStyle]="{ border : 'solid 1px ' + theme.highlightColor, color : theme.secFontColor }" [(ngModel)]="dishPriceInput"/>

        <div id="addOrderButton" [ngStyle]="{ border : theme.border1px }" (click)="addDish()">+</div>

      </div>
    </div>

    <div class="filler"></div>

    <div class="menuPosition" *ngFor="let dish of restaurant.dishes">
      <div class="dishName">{{dish.name}}</div>
      <div class="dishPrice">{{dish.price}} PLN</div>
    </div>


  </div>


  <div id="close" [ngStyle]="{ border: theme.border1px, borderTop : 'none'}" (click)="clickClose()" >&#x25B2;</div>

</div>

