@import '../../common';

$row-height: 35px;

.frame {
  @include size(350px, 260px);
  @include grid-rows(50px repeat(3, $row-height) 65px 1fr, 10px);
  @include mdc-elevation(10);
  justify-items: center;

  position: relative;
  margin: auto;
  padding-bottom: 15px;

  border-radius: $border-rad;
  font-family: $font;
  font-size: 18px;

  overflow: hidden;
}

#close {
  @include size(105%, 25px);
  @include absolute(null, 0, -5px, -10px);

  margin: 10px auto 0;
  font-size: 14px;
  text-align: center;

  span {
    position: relative;
    top: -10px;
  }
}

$width: 85%;

.title {
  @include grid-center;

  justify-items: left;
  width : $width;
  font-size: 25px;
}

.row {
  @include size($width, 100%);
  line-height: $row-height;
}

input {
  @include size(50%, 100%);
  float: left;
  padding-left: 10px;
  box-sizing: border-box;
  background: transparent;
  font-size: 17px;
}

.submitButton {
  @include size(85%, $row-height);
  @include self-center;
  @include mdc-elevation(4);

  line-height: $row-height;
  border-radius: $border-rad;
  text-align: center;
  font-size: 17px;
}

.disabled {
  background: rgba(118, 118, 118, 0.27);
}
