<div class="frame" [ngClass]="theme.typeC">

  <div class="filler"></div>

  <div class="row">

    <span class="left">Restaurant</span>

    <input class="right" type="text" list="restaurants"
           [ngClass]="[lunch ? 'disabled' : '', theme.borderB, theme.fontB]"
           [(ngModel)]="chosenRestaurant"
           [attr.disabled]="lunch"/>

    <datalist id="restaurants">
      <option *ngFor="let restaurant of restaurants">{{restaurant.name}}</option>
    </datalist>

  </div>


  <div class="row">

    <span class="left">Deadline</span>

    <input class="right" type="text" placeholder="hh:mm"
           [ngClass]="[theme.borderB, theme.fontB]"
           [(ngModel)]="deadline" />

  </div>

  <div class="row">

    <span class="left">Expected</span>

    <input class="right" type="text" placeholder="min"
           [ngClass]="[theme.borderB, theme.fontB]"
           [(ngModel)]="expected" />

  </div>

  <div class="submitButton" *ngIf="!lunch"
       [ngClass]="[theme.borderB]"
       (click)="submit()" >CREATE LUNCH</div>

  <div class="submitButton" *ngIf="lunch"
       [ngClass]="[theme.borderB, theme.fontB]"
       (click)="submit()">SAVE CHANGES</div>

  <div style="height: 5px"></div>

  <div id="close"
       [ngClass]="theme.borderB"
       [ngStyle]="{ borderTop : 'none'}"
       (click)="clickClose()" >&#x25B2;</div>

</div>
