<div class="frame" [ngClass]="theme.typeC">

  <div class="filler"></div>

  <div class="row">

    <span class="left">Restaurant</span>

    <input class="right" type="text" list="restaurants"
      [ngClass]="[lunch ? 'disabled' : '', theme.input]"
      [(ngModel)]="chosenRestaurant"
      [attr.disabled]="lunch"/>

    <datalist id="restaurants">
      <option *ngFor="let restaurant of restaurants">{{restaurant.name}}</option>
    </datalist>

  </div>

  <div class="row">

    <span class="left">Deadline</span>

    <input class="right" type="text" placeholder="hh:mm"
      [ngClass]="[theme.input]"
      [(ngModel)]="deadline" />

  </div>

  <div class="row">

    <span class="left">Expected</span>

    <input class="right" type="text" placeholder="min"
      [ngClass]="[theme.input]"
      [(ngModel)]="expected" />

  </div>

  <button mat-button class="submitButton"
    *ngIf="!lunch"
    [ngClass]="[theme.typeA]"
    (click)="submit()" >CREATE LUNCH
  </button>

  <button mat-button class="submitButton"
    *ngIf="lunch"
    [ngClass]="[theme.typeA]"
    (click)="submit()">SAVE CHANGES
  </button>

  <div style="height: 15px"></div>

  <button mat-button id="close"
    [ngClass]="theme.borderB"
    [ngStyle]="{ borderTop : 'none'}"
    (click)="clickClose()" ><span>&#x25B2;</span>
  </button>

</div>
